export(apply.to.all)
export(apply.to.col)
export(apply.to.row)
export(as.POSIXct.xlsx)
export(color.in)
export(complete_missing)
export(convert.numeric.all)
export(get_col.idx)
export(lodsplit)
export(readWorkbook)
export(separate_values.units)
export(transpose.data.frame)
export(writeWorkbook)
export(xlsx2POSIXct)
import(lazyr)
import(where)
S3method(color.in,workbook)
S3method(lodsplit,character)
S3method(lodsplit,data.frame)
S3method(lodsplit,list)
S3method(lodsplit,matrix)
S3method(lodsplit,numeric)
